/* src/components/UserProfile.css */
.logout-button-container {
  display: flex;
  justify-content: flex-end; /* Aligns the button to the right */
  margin-bottom: 10px; /* Adds some space below the button */
}

.logout-button-container .btn {
  margin-left: auto; /* Ensures the button is pushed to the right */
}